@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
  }

::selection {
    background: white;
  }
body {
    font-family: "Arial";
    font-weight: 500;
    text-transform: uppercase;
    background-color: #fcf7c0;
} #dog {
    position: absolute;
    width: 200px;
    top: 45%;
    left: 50%;
    margin-left: -100px;
    z-index: 0;
} #hat1 {
    left: 15%;
    top: 54%
} #hat2 {
    left: 28%;
    top: 30%;
} #hat3 {
    left: 50%;
    top: 10%;
    margin-left: -60px;
} #hat4 {
    top: 30%;
    right: 28%;
} #hat5 {
    right: 15%;
    top: 54%
} .drag {
    position:absolute;
    cursor: move;
    width: 100px;
    z-index: 100;
} .drag:hover {
    filter: drop-shadow(8px 8px 8px #f5e35b);
    animation: shake 0.2s;
} #proj1 {
    left: 15%;
    top: 54%;
    margin-top: 70px;
    margin-left: -8px;
} #proj2 {
    left: 28%;
    top: 30%;
    margin-top: 90px;
    margin-left: -16px;
} #proj3 {
    left: 50%;
    top: 10%;
    margin-top: 76px;
    margin-left: -63px;
} #proj4 {
    top: 30%;
    right: 28%;
    margin-top: 72px;
} #proj5 {
    right: 15%;
    top: 54%;
    margin-top: 108px;
    margin-right: -20px;
} #serena {
    left: 50%;
    top: 45%;
    margin-top: 260px;
    margin-left: -85px;
    font-size: 24px;
} .text {
    position: absolute;
    z-index: 0;
} a {
    text-decoration: none;
    color: black;
} a:hover {
    text-decoration:underline;
    background-color: white;
}