::selection {
    background: white;
  }

body {
    font-family:"Arial";
    font-size: 16px;
    background-color: #f2f1da;
} h1 {
    font-weight:400;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 20px;
} #desc {
    position: absolute;
    top: 90px;
    left: 20px;
    margin-right: 20px;
    max-width: 600px;
}
#back {
    margin-top: 50%;
} a {
    color: black;
    text-decoration: none;
} a:hover {
    text-decoration:underline;
    background-color: white;
}
