::selection {
    background: white;
  }

body {
    font-family:"Arial";
    font-size: 16px;
    background-color: #f2f1da;
} img {
    width: 39%;
    margin: 10px;
    border-radius: 10px;
} h1 {
    position: absolute;
    top: 5px;
    left: 40%;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
} #desc {
    position: absolute;
    left: 40%;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 40px;
    top: 100px;
}
#back {
    margin-top: 50%;
} a {
    text-decoration: none;
    color: black;
} a:hover {
    text-decoration:underline;
    background-color: white;
}
@media only screen and (max-width: 1155px) {
    img {
        width: 450px;
    } #desc {
        left: 470px;
    } h1 {
        left: 470px;
    }

}

@media only screen and (max-width: 900px) {
    #desc {
        left: 20px;
        margin-left: 0px;
        clear: right;
        top: auto;
        padding-top: 50px;
    } h1 {
        left: 20px;
        margin-left: 0px;
        clear: right;
        top: auto;
    }
}
